body {
	background-color: rgb(245, 247, 250);
}

.header {
	z-index: 1;
	position: relative;
}

.header .skew:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: visible;
	width: 100%;
	height: 250px;
	background: rgb(255, 255, 255);
	z-index: -1;
	-webkit-transform: skewY(-2.5deg);
	-moz-transform: skewY(-2.5deg);
	-ms-transform: skewY(-2.5deg);
	-o-transform: skewY(-2.5deg);
	transform: skewY(-2.5deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}

.header .skew .header-inner {
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin: 0;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.card {
	width: auto;
	height: 300px;
	overflow:hidden;
	position: relative;
}

.card-body {
	bottom: -14.75rem;
}

.card-body p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.card .hoverME {
	-webkit-transition: margin .3s;
	-moz-transition: margin .3s;
	-ms-transition: margin .3s;
	-o-transition: margin .3s;
	transition: margin .3s;
}

.card .card-body {
	-webkit-transition: bottom .3s;
	-moz-transition: bottom .3s;
	-ms-transition: bottom .3s;
	-o-transition: bottom .3s;
	transition: bottom .3s;
}

.card:hover .hoverME {
	margin-top: -9.1rem;
}

.card:hover .card-body {
	bottom: -6rem;
}

.card:hover .skew:before {
	-webkit-transform: skewY(2.5deg);
	-moz-transform: skewY(2.5deg);
	-ms-transform: skewY(2.5deg);
	-o-transform: skewY(2.5deg);
	transform: skewY(2.5deg);
}

.arrow {
	position: absolute;
	z-index: 1;
	right: 1rem;
	bottom: 2rem;
	transition: bottom .3s;
}

.arrow i {
	font-size: 1rem;
	color: white;
}

.pulsing {
	animation: fading 1.5s infinite;
}

@keyframes fading {
	0% { opacity: 0; transform: scale(.5); }
	50% { opacity: 1; transform: scale(1.5); }
	100% { opacity: 0; transform: scale(.5); }
}




/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.45); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: white;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	color: #f1f1f1;
	transition: 0.3s;

	border: 1px solid #AEAEAE;
	border-radius: 100%;
	background: #605F61;
	font-weight: bold;
	line-height: 0px;
	padding: 1px 5px 6px;
	text-shadow:none;
	font-size: 1rem;
	float: none;
}

.close:hover,
.close:focus {
	color: #f1f1f1 !important;
	cursor: pointer !important;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}

.card:hover .fa-angle-up:before {
	content: "\f106";
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.card:hover .arrow {
	bottom: 12rem;
}
