<head>
  <title>Sol</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
  {{> something}}
</body>

<template name="something">
  <div id="app" class="container">
      <div class="row pt-5">
        {{#each block}}
          <div class="col-4 pb-5">
            <div class="card">
              <div class="arrow" style="position: absolute; z-index: 1;">
                <i class="fas fa-angle-up pulsing"></i>
              </div>
              <div class="hoverME" style="position: absolute;">
                <img class="card-img-top" src={{ImgSrc}} alt={{Cid}} style="height: -webkit-fill-available;"  />
              </div>
              <div class="card-body header">
                <div class="skew">
                  <div class="header-inner">
                    <p class="card-text">{{title}}</p>
                    <button type="button" id="fullsize" class="btn" name="button"><i class="far fa-eye"></i> View full size</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="" style="position: absolute; margin-left: 33%;">
        <span class="close" style="right: -15px; top: -16px; z-index: 1;">&times;</span>
        <img class="modal-content" style="width: 100%; height: 70vh;" id="img01"><!-- style="width: inherit; max-width: inherit; margin: inherit;" -->
        <div id="caption"></div>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-12 text-center">
        <button type="button" id="loadmore" class="btn btn-info" name="button">Load more...</button>
      </div>
    </div>
</template>
